<nz-spin nzSimple *ngIf="isLoadingTable"></nz-spin>

<nz-table #tableUsers [nzData] = "listUsers" *ngIf="!isLoadingTable">
    <thead>
        <tr>
        <th>Name</th>
        <th>Admin?</th>
        <th>Data de criação</th>
        <th>Últ. Atualização</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let user of tableUsers.data">
        <td>{{user.name}}</td>
        <td>{{user.is_admin}}</td>
        <td>{{user.created_date}}</td>
        <td>{{user.updated_date}}</td>
        <td>
            <a nz-dropdown [nzDropdownMenu]="menu_user">
                Opções
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu_user="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click) = "open_client(user._id)">Abrir</li>
                  <li nz-menu-item (click) = "edit_client(user._id)">Editar</li>
                </ul>
              </nz-dropdown-menu>
        </td>
       </tr>
    </tbody>
</nz-table>

<nz-drawer
        [nzBodyStyle]="{ overflow: 'auto' }"
        [nzMaskClosable]="false"
        [nzWidth]="720"
        [nzVisible]="openClient"
        nzTitle="Usuários"
        [nzFooter]="footerTpl"
        (nzOnClose)="openClient = false"
      
      >
        <ng-template #footerTpl>
        </ng-template>
</nz-drawer>