<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo" style="background-color: white;">
      <a href="" target="_blank">
        <img src="assets/logo.png" style="width: 50%; height: auto;" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter nzIcon="home">
        <a routerLink="home">Home</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Cadastro" nzIcon="plus">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="register/client"> Cliente</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="register/queue">Fila</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="register/product">Produto</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="register/user">Usuário</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Histórico (movimentação)" nzIcon="car">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="history/vacation">Ferias</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="history/queue-history">Histórico da fila</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="header-trigger" style="float: right; padding-top: 0px!important;" wfd-id="84" (click) = "sair()">
          <p>{{name_user}}
            <i nz-icon nzType="logout"  nzTheme="outline"></i>
          </p>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        
        <nz-drawer
        [nzBodyStyle]="{ overflow: 'auto' }"
        [nzMaskClosable]="false"
        [nzWidth]="720"
        [nzVisible]="!isLogged"
        nzTitle="Legolas - Login"
        [nzFooter]="footerTpl"
      
      >
      <nz-spin nzSimple *ngIf="isLoadingLogin"></nz-spin>
      <form nz-form  [formGroup]="validateForm" class="login-form" *ngIf="!isLoadingLogin" (ngSubmit)="logar()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="Usuário rocket" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Login</button>
        <p style="color: red;">{{message_login}}</p>
      </form>
  
        <ng-template #footerTpl>
        </ng-template>
      </nz-drawer>

        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
